# Arquivos de compilação Python
*.pyc
__pycache__/

# Arquivos de ambiente
.env

# Arquivos de banco de dados
*.sqlite3

# Arquivos estáticos e arquivos de mídia
staticfiles/
media/

# Arquivos de registro
*.log

# Arquivos de configuração específicos do sistema operacional
.DS_Store
venv